{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
<center>
<h1>BATATA</h1>
<img src="{% static 'img/logo.jpg' %}">
<table>
    <thead>
    <tr>
        <th>nome</th>
        <th>preco</th>
        <th>estoque</th>
    </tr>
    </thead>
    <tbody>
        {% for p in produtos %}
            <tr>
                <td><a href="{% url 'produto' p.id %}"> {{p.nome}}</a></td>
                <td>{{p.preco}}</td>
                <td>{{p.estoque}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</center>
</body>
</html>