{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
<center>
<h1>Produto</h1>

<table>
    <thead>
    <tr>
        <th>nome</th>
        <th>preco</th>
        <th>estoque</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="{% url 'index'  %}"> {{p.nome}}</a></td>
        <td>{{p.preco}}</td>
        <td>{{p.estoque}}</td>
    </tr>
    </tbody>
</table>

</body>
</center>
</html>